/*
Error: Invalid CSS after "   }": expected selector or at-rule, was "}"
        on line 56 of css/scss/hdp.scss

51:    
52:    .fleche {
53:        font-size: 3rem;
54:        margin-left: auto;
55:    }
56: }

Backtrace:
css/scss/hdp.scss:56
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1207:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1137:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:42:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:406:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:298:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:473:in `on_file_changed'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:331:in `block in watch'
/usr/lib/ruby/vendor_ruby/listen/event/config.rb:23:in `call'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:115:in `_process_changes'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:19:in `block in loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:84:in `_wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:42:in `block in setup'
/usr/lib/ruby/vendor_ruby/listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"   }\": expected selector or at-rule, was \"}\"\A         on line 56 of css/scss/hdp.scss\A \A 51:    \A 52:    .fleche {\A 53:        font-size: 3rem;\A 54:        margin-left: auto;\A 55:    }\A 56: }"; }
