header {
       background-color: #331a00;
       color: white;
       font-family: 'Times New Roman', Times, serif;
       nav {
           ul {
               width: 100%;
               justify-content: center;
               li {
                   a {
                       color: gray;
                       font-size: 2rem;
                       text-align: center;
                   }
               }
           }
       }
   }
   
   h1 {
       text-align: center;
       font-size: 5rem;
       margin-top: 9rem;
       margin-bottom: 2rem;
       font-weight: bold;
   }
   
   h2 {
       font-size: 4rem;
       text-align: center;
       font-weight: bold;
   }
   
   #btn_head {
       background-color: #cccc99;
       color: white;
       font-weight: bold;
       font-size: 22px;
       margin-top: 2rem;
       margin-bottom: 2rem;
       justify-content: center;
       width: 400px;
       height: 60px;
       border-radius: 3%;
   }
   
   .btn {
       color: white;
       font-size: 1.5rem;
   }
   
   .fleche {
       font-size: 3rem;
       margin-left: auto;
   }
}