header {
    background-color: rgb(34, 9, 9);
    color: white;
    nav {
        ul {
            width: 100%;
            justify-content: center;
            li {
                a {
                    color: gray;
                    font-size: 2rem;
                    text-align: center;
                }
            }
        }
    }
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 9rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

#btn_head {
    background-color: rgb(200, 200, 122);
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    width: 400px;
    height: 60px;
    border-radius: 3%;
}